@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

li, a {
  display: inline;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

input, textarea {
  outline: none;
  border: none;  
  font-family: "Poppins", sans-serif;
  resize: none;
}