@charset "utf-8";

:root {
  --app-black: #1c1d20;
  --app-white: #fff;
  --app-orange: #ffb225;
}

.section-space {
  padding: 100px 0;
}

.container {
  width: min(100% - 10px, 1100px);
  margin-inline: auto;
}

.break {
  display: block;
}

.orange {
  color: var(--app-orange);
}

.p-font-size {
  font-size: 16px;
}

.section-title-size {
  font-size: 50px;
  font-weight: 400;
}