@charset "utf-8";

@import url(./data/utility.css);
@import url(./data/reset.css);

/* Header */
header .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 15px 0;
  max-height: 69px;

  nav {
    justify-self: center;
  }

  a {
    color: var(--app-white);
  }

  button {
    justify-self: end;
    padding: 10px 20px;
    border-radius: 5px;
  }

  h1 {    
    color: var(--app-orange);
    font-family: "Berkshire Swash", sans-serif;
    font-size: 40px;
  }
}

nav ul {
  display: flex;
  gap: 30px;
}

/* Hero Banner */
.hero {
  background-image: url(../img/hero-background.jpg);
  background-position: 50% 90%;
  background-size: cover;
  color: var(--app-white);
  position: relative;
  height: 100vh;
}

.hero-content {
  position: absolute;
  width: 100%;
  z-index: 1;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 69px);
  }

  h1 {
    font-size: 60px;
  } 
}

.hero-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
  background-image: linear-gradient(to right, #0000008c, #0000001b);
}


.hero-img-box {
  background-color: var(--app-white);
  padding: 20px 20px 30px;
  rotate: -10deg;

  img {
    width: 280px;
  }
}

/* About me */
.about-me {
  background-color: rgba(0, 0, 0, 0.027);
  color: var(--app-black);
  position: relative;

  .container {
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
    z-index: 1;
  }

  
  img {
    width: 400px;
  }
}

.about-headline p {
  max-width: 400px;
}

.media-links {
  img {
    width: 16px;
  }
}

.resume-btn {
  width: 195px;
  height: 60px;
  background-color: var(--app-orange);
  color: var(--app-white);
  margin-top: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

.square {
  height: 260px;
  width: 475px;
  background-color: var(--app-orange);
  position: absolute;
  bottom: 0;
}

/* Skills */
.skills .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 20px;
}

.skill-container {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.bar {
  width: 400px;
  height: 20px;
  border-radius: 10px;
  border: 1.5px solid var(--app-orange);
  overflow: hidden;
}

.bar-level {
  background-color: var(--app-orange);
  height: 100%;
  width: 0;
  transition: width 0.8s ease;
}
/*
.skill-container:nth-of-type(2) .bar-level {
  width: 80%;
  height: 100%;
  background-color: var(--app-orange);
}

.skill-container:nth-of-type(3) .bar-level {
  width: 90%;
  height: 100%;
  background-color: var(--app-orange);
}


.skill-container:nth-of-type(4) .bar-level {
  width: 85%;
  height: 100%;
  background-color: var(--app-orange);
}


.skill-container:nth-of-type(5) .bar-level {
  width: 70%;
  height: 100%;
  background-color: var(--app-orange);
}
*/

/* Recent Works */
.projects {  
  background-color: rgba(0, 0, 0, 0.027);
  
  h2 {
    text-align: center;
  }
}

.project-list {
  padding-top: 50px;
}

.project-content {
  margin-bottom: 70px;
}

.project-picture-box {
  background-color: var(--app-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 424px;
  overflow: hidden;
  padding: 10px;

  img {
    width: 100%;
  }
}

.project-title {
  margin-top: 24px;
  font-size: 30px;
  
  h3 {
    font-weight: 400;
  }
}

.project-headline {
  display: flex;
  justify-content: space-between;
  font-weight: 450;
}

.project-link {
  margin-top: 10px;
  display: flex;
  justify-content: right;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 42px;
    border-radius: 5px;
  }
}

.line {
  height: 1px;
  width: 100%;
  border-top: 1px solid var(--app-black);
  margin: 5px 0 20px;
}

.live-btn {
  font-weight: 600;
  color: var(--app-white);
  background-color: var(--app-orange);
  margin-right: 10px;
}

.git-btn {
  color: var(--app-orange);
  border: 1px solid var(--app-orange);
}

/* Contact Me */
.contact-me {
  background-color: var(--app-black);
  color: var(--app-white);
  padding-bottom: 25px;
}

.contact-info {
  display: grid;
  grid-row: 1fr 1fr 1fr;
}

.media-links {
  display: flex;
  gap: 10px;

  a {
    height: 35px;
    width: 35px;
    background-color: var(--app-orange);
    color: var(--app-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17.5px;
    font-size: 20px;
  }
}

form {
  p {
    color: #ff0000;
    padding: 5px 0 15px;
    height: 45px;
  }

  button {
    width: 105px;
    height: 42px;
    border-radius: 5px;
    background-color: var(--app-orange);
    color: var(--app-white);
    transition: 0.5s ease;
    font-size: 15px;
  }

  button:hover {
    background-color: var(--app-white);
    color: var(--app-orange);
  }
}

.contact-flex {
  display: flex;
  justify-content: space-between;
}

input, textarea {
  padding: 10px 15px;  
  width: 480px;
  border-radius: 5px;
}

.email, .full-name {
  height: 30px;
}

.message {
  height: 200px; 
}

/* footer */
footer {
  background-color: #131416;
  padding: 25px 0;
  color: var(--app-white);

  .container {
    display: flex;
    justify-content: space-between;
  }

  h2 {    
    color: var(--app-orange);
    font-family: "Berkshire Swash", sans-serif;
  }
}
/* Media Query */
@media screen and (min-width:865px) {
  .project-picture-box {
    padding: 15px;
    width: auto;
    height: auto;

    img {
      width: 100%;
    }
  }
}

