@charset "utf-8";

@import url(./data/utility.css);
@import url(./data/reset.css);

/* Header */
header .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 15px 0;
  max-height: 69px;

  nav {
    justify-self: center;
  }

  a {
    color: var(--app-white);
  }

  button {
    justify-self: end;
    padding: 10px 20px;
    border-radius: 5px;
  }

  h1 {    
    color: var(--app-orange);
    font-family: "Berkshire Swash", sans-serif;
    font-size: 40px;
  }
}

nav ul {
  display: flex;
  gap: 30px;
}

/* Hero Banner */
.hero {
  background-image: url(../img/hero-background.jpg);
  background-position: 50% 90%;
  background-size: cover;
  color: var(--app-white);
  position: relative;
  height: 100vh;
}

.hero-content {
  position: absolute;
  width: 100%;
  z-index: 1;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 69px);
  }

  h1 {
    font-size: 60px;
  } 
}

.hero-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
  background-image: linear-gradient(to right, #0000008c, #0000001b);
}

.hero-img-box {
  background-color: var(--app-white);
  padding: 20px 20px 30px;
  rotate: -10deg;

  img {
    width: 280px;
  }
}